h1 {
    color: rgba(175, 80, 80, 0);
}
/*
 {
    border: solid;
}
*/
.header{
display : flex;
background : cadetblue;
justify-content: space-between;    
}
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  background-color: rgb(64, 182, 230);
}
.footer{
    display: flex;
    justify-content: flex-end;
}
h2{
text-align:center;
}
body{
    background-color: rgb(17,68 ,136 )
}
body{
    background-color: rgb(48,67,237
    );
}